<html>
    <head>
        <title>Django Boys blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Boys Blog</a></h1>
        </div>
        <div>
            <p>published: 29.07.2019, 16:31</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam.こんにちは！よろしくお願いします！</p>
        </div>
        <div>
            <p>公開日: 2019/7/26, 12:24</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>こんにちは！よろしくデース</p>
        </div>
    </body>
</html>